body {
    font-family: "Open Sans", sans-serif;
    text-align: center;
    margin: auto;
}
#girl {
    width: 350px;
    margin: auto;
}
#girl img {
    margin: 64px auto 32px;
}
h1 {
    font-family: "Dosis", sans-serif;
    font-weight: normal;
    font-size: 32px;
    color: #3F3D56;
    line-height: 40px;
    margin-bottom: 16px;
}
span {
    color: #EE24FF;
    font-weight: bold;
}
span1, a {
    font-weight: bold;
    color: #3F3D56;
}
p {
    color: #828282;
    margin-bottom: 32px;
}